@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  /* Font */
  --font-sans: "DM Sans", sans-serif;
  --font-mono: "DM Mono", monospace;

  /* Light */
  --color-canvas-hover: hsl(0, 0%, 96%);
  --color-canvas-focus: hsl(0, 0%, 90%);
  --color-subtle-hover: hsl(0, 0%, 94%);
  --color-subtle-focus: hsl(0, 0%, 92%);
  --color-surface-canvas: hsl(0, 0%, 98%);
  --color-surface-subtle: hsl(0, 0%, 96%);
  --color-line-faint: hsl(0, 0%, 88%);
  --color-line-slate: hsl(0, 0%, 80%);
  --color-ink-base-dark: hsl(0, 0%, 10%);
  --color-ink-muted-dark: hsl(0, 0%, 30%);
  --color-ink-base-light: hsl(0, 0%, 96%);
  --color-ink-muted-light: hsl(0, 0%, 94%);

  /* Primary */
  --color-flamingo-50: hsl(25, 100%, 96%);
  --color-flamingo-100: hsl(26, 100%, 91%);
  --color-flamingo-200: hsl(24, 100%, 83%);
  --color-flamingo-300: hsl(22, 100%, 71%);
  --color-flamingo-400: hsl(19, 100%, 60%);
  --color-flamingo-500: hsl(16, 100%, 52%);
  --color-flamingo-600: hsl(12, 99%, 46%);
  --color-flamingo-700: hsl(9, 97%, 40%);
  --color-flamingo-800: hsl(7, 87%, 34%);
  --color-flamingo-900: hsl(7, 82%, 28%);
  --color-flamingo-950: hsl(5, 89%, 15%);

  /* Secondary */
  --color-woodsmoke-50: hsl(0, 0%, 98%);
  --color-woodsmoke-100: hsl(0, 0%, 96%);
  --color-woodsmoke-200: hsl(0, 0%, 90%);
  --color-woodsmoke-300: hsl(0, 0%, 83%);
  --color-woodsmoke-400: hsl(0, 0%, 64%);
  --color-woodsmoke-500: hsl(0, 0%, 45%);
  --color-woodsmoke-600: hsl(0, 0%, 33%);
  --color-woodsmoke-700: hsl(0, 0%, 25%);
  --color-woodsmoke-800: hsl(0, 0%, 15%);
  --color-woodsmoke-900: hsl(0, 0%, 10%);
  --color-woodsmoke-950: hsl(0, 0%, 4%);
}
