# / APP /
NUXT_PUBLIC_APP_NAME=Nuxt
NUXT_PUBLIC_APP_ENV=development
NUXT_PUBLIC_APP_URL=http://localhost:3000

# / BASE /
NUXT_PUBLIC_API_KEY=http://localhost:8000/api
NUXT_PUBLIC_BASE_KEY=http://localhost:8000
