{
  "overrides": [
    {
      "files": "*.php",
      "options": {
        "parser": "php",
        "phpVersion": "8.2",
        "tabWidth": 4,
        "useTabs": false,
        "printWidth": 120,
        "singleQuote": true,
        "trailingComma": "all",
        "braceStyle": "per-cs",
        "endOfLine": "lf"
      }
    }
  ]
}
